@model IEnumerable<ApiUygulama.Models.Hotel>
@{
    ViewData["Title"] = "Index";
}
@*HotelFinderUi*@
<a class="btn btn-primary" asp-action="Ekle">Ekle</a>
<table class="table table-bordered table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>
                    <a class="btn btn-success" asp-action="Detay" asp-route-id="@item.Id">Detay</a>
                    <a class="btn btn-warning" asp-action="Duzenle" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-danger" asp-action="Sil" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>